* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "nav"
    "productos"
    "servicios"
    "enlaces"
    "footer";
  min-height: 100vh;
}

/* Estilos base */
header {
  grid-area: header;
  background: rgb(236, 236, 187);
}

nav {
  grid-area: nav;
  background: rgb(118, 118, 254);
}

#productos {
  grid-area: productos;
  background: rgb(139, 28, 28);
  color: white;
}

#servicios {
  grid-area: servicios;
  background: rgb(43, 255, 213);
}

a {
  grid-area: enlaces;
  background: rgb(111, 0, 221);
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  grid-area: footer;
  background: rgb(161, 161, 161);
}

/* Tablet */
@media (min-width: 600px) {
  #contenedor {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas:
      "header header nav"
      "productos productos productos"
      "servicios servicios servicios"
      "footer enlaces enlaces";
  }
}

/* Escritorio */
@media (min-width: 900px) {
  #contenedor {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
      "nav header header"
      "nav productos enlaces"
      "nav servicios enlaces"
      "nav footer footer";
  }
}