* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#contenedor {
  width: 100vw;
  height: 100vh;
  background-color: red;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-areas:
    "header header header"
    "nav main aside"
    "footer footer aside";
}

header {
  grid-area: header;
  background-color: yellow;
}
nav {
  grid-area: nav;
  background-color: blue;
}
main {
  grid-area: main;
  background-color: red;
}
aside {
  grid-area: aside;
  background-color: green;
}
footer {
  grid-area: footer;
  background-color: gray;
}

@media (max-width: 600px) {
  #contenedor {
  background-color: red;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr 1fr;
  grid-template-columns: 2fr 2fr;
  grid-template-areas:
    "header header "
    "nav main"
    "aside aside"
    "footer footer";
}
}
