* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.caja {
  width: 300px;
  height: 300px;
  background-color: orange;
  border: solid black;
  /*margin-right: 10px;*/
  /*flex-wrap: wrap;*/
}
.circulo {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  /*width: 500px;
    height: 500px;*/
  width: 20%;
  background-color: yellow;
  /*margin: 0 10px;*/
  border: solid black;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor {
  display: flex;
  width: 100%;
  /*min-width: 50%;*/
}
#contenedor_cajas {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
#contenedor_circulos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: nowrap;
}
#padre {
  width: 80vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
}
.caja_p {
  width: 35%;
  height: 35%;
  background-color: orange;
  border: solid black;
}
