* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#contenedor {
  width: 100vw;
  height: 100vh;
  /*display: flex;*/
  /*background-color: red;*/
}

header {
  width: 100%;
  height: 25%;
  background-color: rgb(94, 94, 225);
}

#dos {
  width: 100%;
  height: 75%;
  display: flex;
}

#tres {
    width: 80%;
    height: 100%;
}

aside {
  width: 20%;
  height: 100%;
  background-color: aqua;
}

#cuatro {
    width: 100%;
    height: 66%;
    display: flex;
}

footer {
  width: 100%;
  height: 34%;
  background-color: gray;
}
nav {
  width: 50%;
  height: 100%;
  background-color: red;
}
main {
  width: 50%;
  height: 100%;
  background-color: green;
}
/*
